.scene {
  position: relative;
  height: 300px;

  padding-top: 100px;
  border-radius: 5px;
}
.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.spinner::before {
  width: 80px;
  height: 80px;
  border-width: 10px;
  border-top-color: transparent;
  border-right-color: rgb(215, 223, 189);
  border-bottom-color: transparent;
  border-left-color: rgb(215, 223, 189);
  animation: spin 2s infinite linear;
}
.spinner::after {
  width: 46px;
  height: 46px;
  border-width: 23px;
  border-top-color: rgb(215, 223, 189);
  border-right-color: #ffffff;
  border-bottom-color: rgb(215, 223, 189);
  border-left-color: #ffffff;
  animation: spin 1s infinite linear;
  -webkit-animation-direction: reverse;
  amimation-direction: reverse;
}
@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
.message {
  padding-top: 25px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* color: #ffffff; */
  color: black;
  animation: blink 2.5s infinite ease-in-out;
}
@keyframes blink {
  from { opacity: 1; }
  50% { opacity: .6; }
}