.error {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;

  max-width: 30%;
  padding: 5px;

  font-size: 14px;
  color: white;

  background: rgba(255, 0, 0, 0.6);
  border: 2px solid red;
  border-radius: 5px;
}

.error__close-button {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 16px;
  height: 16px;

  border: 2px solid red;
  border-radius: 5px;

  cursor: pointer;
}

.error__close-button:hover {
  /* background-color: rgba(255, 0, 0, 0.62); */
  background: rgba(255, 0, 0, 0.3);
}

.error__close-button::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 2px;

  display: block;
  width: 12px;

  transform: rotate(45deg);

  border-bottom: 2px solid white;
}

.error__close-button::after {
  position: absolute;
  content: '';
  top: 7px;
  left: 2px;

  display: block;
  width: 12px;

  transform: rotate(-45deg);

  border-bottom: 2px solid white;
}

.error__title {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.error__details {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.error__name {
  box-sizing: border-box;

  width: 30%;

  padding-left: 20px;

  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
}

.error__description {
  box-sizing: border-box;

  width: 70%;

  padding-left: 10px;
  padding-right: 20px;
  margin-left: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

/* .error__details {
  display: table;
}

.error__name {
  display: table-cell;
  font-weight: bold;
}

.error__description {
  max-width: 200px;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

/* .error__details {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.error__name {
  box-sizing: border-box;
  padding: 0 5px;
}

.error__description {
  margin: 0;
  text-overflow: ellipsis;
}*/