.absence {
  display: flex;
  align-items: center;

  margin-top: auto;
  margin-bottom: 0;

  background: rgb(215, 223, 189);
}

.absence__heading {
  margin: 0;
  margin-left: 35px;
  margin-right: 10px;
}

.absence__buttons {
  display: flex;
  margin-bottom: -1px;

  background-color: rgb(241, 242, 232);
}

.absence__type {
  display: none;
}

.absence__type:checked + .absence__button {
  border: 2px solid rgb(255, 0, 0);
}

.absence__button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  min-width: 40px;
  min-height: 30px;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.absence__button--vacation {
  background-color: rgb(222,116,101);
}

.absence__button--personal {
  background-color: rgb(244,205,172);
}

.absence__button--sickness {
  background-color: rgb(196,208,157);
}

.absence__button--planned {
  background-color: rgb(255,224,132);
}

.absence__button--bank_holiday {
  background-color: rgb(185,194,223);
}

.absence__name {
  display: flex;
  align-items: center;

  margin-left: 5px;
  margin-right: 30px;
}