.day {
  box-sizing: border-box;

  padding-top: 9px;
  min-width: 30px;
  min-height: 35px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  background-color: rgb(75, 24, 14);
}

.day--wekend {
  background: rgb(135, 84, 74);
}