.header {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  padding-top: 15px;

  background-color: rgb(241, 242, 232);

  box-shadow: 0 2px 20px lightgray;
}

.header__title {
  text-align: center;
  margin: 5px;
}
