body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {

}

.app__header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 120px;

  background: white;
  border-bottom: 1px solid lightgray;

  z-index: 1;
}

.app__main {
  margin-top: 160px;
}