.vacation-toggler {
  position: relative;
  box-sizing: border-box;

  min-width: 30px;
  min-height: 35px;
}

.vacation-toggler:hover {
  opacity: 0.8;
}

.vacation-toggler::after {
  position: absolute;

  top: 9px;
  left: 9px;

  font-weight: bold;
}

.vacation-toggler--vacation {
  background-color: rgb(222,116,101);
}

.vacation-toggler--vacation::after {
  content: 'V';
}

.vacation-toggler--personal {
  background-color: rgb(244,205,172);
}

.vacation-toggler--personal::after {
  content: 'A';
}

.vacation-toggler--sickness {
  background-color: rgb(196,208,157);
}

.vacation-toggler--sickness::after {
  content: 'S';
}

.vacation-toggler--planned {
  background-color: rgb(255,224,132);
}

.vacation-toggler--planned::after {
  content: 'P';
}

.vacation-toggler--holiday {
  background-color: rgb(185,194,223);
}

.vacation-toggler--holiday::after {
  content: 'B';
}
