.month {
  margin: 25px;


  background-color: rgb(241, 242, 232);
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}

.month__name {
  padding: 15px;
  padding-left: 500px;

  background-color: rgb(241, 242, 232);
  border-top: 1px solid lightgray;

  color: rgb(123, 38, 26);
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.month__row:nth-child(even) {
  background-color: #eee;
}

.month__cell {
  border: 1px solid #ccc;
  padding: 0;
}

.month__cell--username {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  cursor: default;
}
